In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('CoffeeChain-SimplifiedData.csv')

In [27]:
# First five rows of the datat set.
df.head()

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00

In [28]:
# Last five rowsof the data set by default
df.tail()

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [30]:
# How many rows and columns?
df.shape

(4248, 14)

In [34]:
# What columns do we have?
df.columns

Index(['Product Id', 'Product Type', 'Product', 'Coffee Type', 'Market Size',
       'Market', 'State', 'Budget Sales', 'Budget Profit', 'Cogs', 'Profit',
       'Sales', 'Total Expenses', 'Date'],
      dtype='object')

In [33]:
# Rename Type to Coffee Type
df.rename(columns = {'Type': 'Coffee Type'}, inplace = True)

In [16]:
df.head()

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00

In [32]:
# Select the coffee type column
df['Coffee Type']

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [35]:
# Index to see al rows and columns 
df.iloc[:, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [36]:
# Lets see the first and last five  
df.iloc[:,3]

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [41]:
# This is the same as df.iloc
df['Coffee Type']

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [38]:
# The first three rows and columns
df.iloc[:3, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00

In [40]:
# The last five rows in the dataset. Can also use df.tail()
df.iloc[-5:, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [42]:
# First row of the coffee type column
df.loc[0, 'Coffee Type']

'Regular'

In [43]:
# First five rows of the product type, product, coffee type, market size, market, state and profit
df.loc[:4, ['Product Type', 'Product', 'Coffee Type', 'Market Size', 'Market', 'State', 'Profit']]

,Product Type,Product,Coffee Type,Market Size,Market,State,Profit
0,Coffee,Amaretto,Regular,Major Market,Central,Colorado,94
1,Coffee,Columbian,Regular,Major Market,Central,Colorado,68
2,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,101
3,Tea,Green Tea,Regular,Major Market,Central,Colorado,30
4,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,54

In [47]:
# Using conditional selection select the rows with total expenses 50
df.loc[df['Total Expenses'] == 50, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
35,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,88,-39,99,50,01/01/10 0:00
106,3,Coffee,Decaf Irish Cream,Decaf,Small Market,South,New Mexico,120,-30,88,-39,99,50,01/01/10 0:00
111,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,84,66,200,50,01/01/10 0:00
212,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,84,-32,102,50,01/02/10 0:00
284,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,86,70,206,50,01/02/10 0:00
389,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,90,-10,88,-32,106,50,01/03/10 0:00
481,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,90,-20,88,-32,106,50,01/03/10 0:00
1234,2,Coffee,Columbian,Regular,Small Market,West,Washington,260,120,86,75,211,50,01/07/10 0:00
1419,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,80,10,45,7,102,50,01/09/10 0:00
1431,12,Tea,Earl Grey,Regular,Major Market,Central,Illinois,130,40,60,40,150,50,01/09/10 0:00
1500,2,Coffee,Columbian,Regular,Small Market,East,New Hampshire,130,50,55,34,139,50,01/09/10 0:00
1517,2,Coffee,Columbian,Regular,Small Market,South,New Mexico,170,70,55,34,139,50,01/09/10 0:00
1540,9,Herbal Tea,Lemon,Decaf,Small Market,West,Utah,120,50,55,34,139,50,01/09/10 0:00
1716,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,80,0,86,-27,109,50,01/10/10 0:00
2021,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,7,103,50,01/12/10 0:00
2331,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,84,-47,109,50,01/02/11 0:00
2412,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,86,104,220,50,01/02/11 0:00
2508,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,90,-10,88,-47,113,50,01/03/11 0:00
2601,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,90,-20,88,-47,113,50,01/03/11 0:00
2875,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Ohio,130,20,53,15,117,50,01/05/11 0:00
2993,4,Espresso,Caffe Latte,Regular,Small Market,West,Oregon,110,20,53,15,117,50,01/05/11 0:00
3543,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,80,10,45,10,109,50,01/09/11 0:00
3555,12,Tea,Earl Grey,Regular,Major Market,Central,Illinois,130,40,60,59,160,50,01/09/11 0:00
3624,2,Coffee,Columbian,Regular,Small Market,East,New Hampshire,130,50,55,50,148,50,01/09/11 0:00
3642,2,Coffee,Columbian,Regular,Small Market,South,New Mexico,170,70,55,50,148,50,01/09/11 0:00
3665,9,Herbal Tea,Lemon,Decaf,Small Market,West,Utah,120,50,55,50,148,50,01/09/11 0:00
3843,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,80,0,86,-40,116,50,01/10/11 0:00
4143,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,10,110,50,01/12/11 0:00

In [51]:
# Select rows with total expenses 50 and state massachusetts
df.loc[(df['Total Expenses'] == 50) & (df['State'] == 'Massachusetts'),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
2021,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,7,103,50,01/12/10 0:00
4143,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,10,110,50,01/12/11 0:00

In [53]:
# Select rows with total expenses 50 or has profit  greater than or equal to 10
df.loc[(df['Total Expenses'] == 50) | (df['Profit'] >= 10),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [63]:
# df.loc[df['column'].isnull(),:] can be used to select all rows with null values from a given column

In [66]:
# Select all rows with darjeeling or green tea in the product column
df.loc[df['Product'].isin(['Darjeeling', 'Green Tea']),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
9,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,110,20,58,17,130,55,01/01/10 0:00
18,11,Tea,Darjeeling,Regular,Major Market,Central,Illinois,110,50,54,53,134,27,01/01/10 0:00
27,11,Tea,Darjeeling,Regular,Small Market,Central,Iowa,400,140,228,141,456,87,01/01/10 0:00
31,13,Tea,Green Tea,Regular,Small Market,Central,Missouri,60,0,34,-4,76,46,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-320,294,-605,33,145,01/12/11 0:00
4227,11,Tea,Darjeeling,Regular,Small Market,West,Oregon,50,30,29,37,78,19,01/12/11 0:00
4229,13,Tea,Green Tea,Regular,Small Market,West,Oregon,230,100,134,180,341,65,01/12/11 0:00
4238,11,Tea,Darjeeling,Regular,Small Market,West,Washington,70,20,41,45,114,36,01/12/11 0:00
4240,13,Tea,Green Tea,Regular,Small Market,West,Washington,90,-10,55,-4,140,79,01/12/11 0:00

In [68]:
# Can do the same with the using an or statement as above
df.loc[(df['Product'] == 'Darjeeling') | (df['Product'] == 'Green Tea'), :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
9,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,110,20,58,17,130,55,01/01/10 0:00
18,11,Tea,Darjeeling,Regular,Major Market,Central,Illinois,110,50,54,53,134,27,01/01/10 0:00
27,11,Tea,Darjeeling,Regular,Small Market,Central,Iowa,400,140,228,141,456,87,01/01/10 0:00
31,13,Tea,Green Tea,Regular,Small Market,Central,Missouri,60,0,34,-4,76,46,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-320,294,-605,33,145,01/12/11 0:00
4227,11,Tea,Darjeeling,Regular,Small Market,West,Oregon,50,30,29,37,78,19,01/12/11 0:00
4229,13,Tea,Green Tea,Regular,Small Market,West,Oregon,230,100,134,180,341,65,01/12/11 0:00
4238,11,Tea,Darjeeling,Regular,Small Market,West,Washington,70,20,41,45,114,36,01/12/11 0:00
4240,13,Tea,Green Tea,Regular,Small Market,West,Washington,90,-10,55,-4,140,79,01/12/11 0:00

In [70]:
# Show market size small market and in the south 
df.loc[(df['Market Size'] == 'Small Market') & (df['Market'] == 'South'),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
93,5,Espresso,Caffe Mocha,Regular,Small Market,South,Louisiana,150,80,67,70,180,43,01/01/10 0:00
94,6,Espresso,Decaf Espresso,Decaf,Small Market,South,Louisiana,120,50,61,48,150,41,01/01/10 0:00
95,8,Herbal Tea,Chamomile,Decaf,Small Market,South,Louisiana,100,40,49,35,112,28,01/01/10 0:00
96,9,Herbal Tea,Lemon,Decaf,Small Market,South,Louisiana,180,40,85,40,190,65,01/01/10 0:00
97,4,Espresso,Caffe Latte,Regular,Small Market,South,Louisiana,150,10,75,8,180,97,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4180,2,Coffee,Columbian,Regular,Small Market,South,Oklahoma,220,100,81,98,197,38,01/12/11 0:00
4181,3,Coffee,Decaf Irish Cream,Decaf,Small Market,South,Oklahoma,90,50,33,42,87,21,01/12/11 0:00
4182,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,240,90,134,180,341,65,01/12/11 0:00
4183,5,Espresso,Caffe Mocha,Regular,Small Market,South,Oklahoma,50,20,29,36,78,20,01/12/11 0:00
4184,6,Espresso,Decaf Espresso,Decaf,Small Market,South,Oklahoma,170,60,88,107,236,61,01/12/11 0:00

In [72]:
# Show major markets in Nevada
df.loc[(df['Market Size'] == 'Major Market') & (df['State'] == 'Louis'),:]

Empty DataFrame
Columns: [Product Id, Product Type, Product, Coffee Type, Market Size, Market, State, Budget Sales, Budget Profit, Cogs, Profit, Sales, Total Expenses, Date]
Index: []