In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('CoffeeChain-SimplifiedData.csv')

In [9]:
df.head()

,Product Id,Product Type,Product,Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00

In [12]:
df.tail()

,Product Id,Product Type,Product,Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [13]:
df.shape

(4248, 14)

In [14]:
df.columns

Index(['Product Id', 'Product Type', 'Product', 'Type', 'Market Size',
       'Market', 'State', 'Budget Sales', 'Budget Profit', 'Cogs', 'Profit',
       'Sales', 'Total Expenses', 'Date'],
      dtype='object')